<div class="ad-group">
	<p><%= link_to (image_tag "http://www.lduhtrp.net/image-3365563-10602186", :size => "125x125", :alt => "1-Click Joomla and Wordpress Hosting"), 'http://www.jdoqocy.com/click-3365563-10602186', :rel => 'external-button' %></p>
	<p><%= link_to (image_tag "ads/125_125_temp.gif", :size => "125x125", :alt => "Advertise Here 125 x 125"), :controller => 'communication', :action => 'feedback' %></p>
</div>
<p>
	<a href="http://www.anrdoezrs.net/click-3390088-10602144" target="_blank"><img src="http://www.awltovhc.com/image-3390088-10602144" width="300" height="250" alt="Cute microbes on sale  " border="0"/></a>
</p>