<div id="manning">
	<h2>Manning Specials</h2>
	<p>jQuery is awesome, jQuery in Action is already the best seller of 2009 over at Manning Publishing and for the next week, you can get your copy for 40% less. Just <%= link_to 'follow the link, add it to your shopping cart', 'http://www.manning.com/affiliate/idevaffiliate.php?id=1064_93' %> and use the promo code, orsf40, during checkout.</p>
	<%= link_to (image_tag '/images/ads/jquery_action.gif', :size => '238x302', :alt => 'Cover of jQuery in Action Book'), 'http://www.manning.com/affiliate/idevaffiliate.php?id=1064_93', :title => 'Purchase jQuery In Action Today and Save 40%' %>	
</div>