<h1>Search Results</h1>
<p>If you did not find what you were looking for, try expanding or refining your search terms. The current indexed that is being searched is large and continuously growing so the more specific you are the more accurate the results will be.</p>
<%= render :partial => '/components/google_search' %>
<div id="cse-search-results"></div>
<script type="text/javascript">
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "cse-search-box";
  var googleSearchFrameWidth = 930;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>