<div id="header_stroke">
	<p id="logo"><%= link_to (image_tag('/images/logo/osrf.gif', :size => "263x23", :alt => "Open Source Release Feed")), :controller => 'release', :action => 'index' %></p>
</div>