<h1>Latest Manning Deals For OpenSource Release Feed</h1>
<div id="manning">
	<h2>Rails3 In Action</h2>
	<%= link_to (image_tag '/images/ads/rails3_in_action.gif', :size => '119x150', :alt => 'Cover of Rails3 in Action Book'), 'http://www.manning.com/affiliate/idevaffiliate.php?id=1064_145', :title => 'Purchase Rails3 In Action Today and Save 40%' %>	
	<p>Rails 3 in Action will provide a thorough introduction to Ruby-based web development using Rails. Like Rails 3 itself, this book combines Merb and Rails in the form of authors Yehuda Katz, Merb Lead Developer, and Mike Gunderloy, a member of the Rails Activism and Documentation team. Get your copy for 40% less. Just <%= link_to 'follow the link, add it to your shopping cart', 'http://www.manning.com/affiliate/idevaffiliate.php?id=1064_145' %> and use the promo code, orsf40, during checkout.</p>
	<h2>jQuery In Action</h2>
	<%= link_to (image_tag '/images/ads/jquery_action.gif', :size => '119x150', :alt => 'Cover of jQuery in Action Book'), 'http://www.manning.com/affiliate/idevaffiliate.php?id=1064_93', :title => 'Purchase jQuery In Action Today and Save 40%' %>
	<p>jQuery in Action is a fast-paced introduction and guide. It shows you how to traverse HTML documents, handle events, perform animations, and add Ajax to your web pages. Get your copy for 40% less. Just <%= link_to 'follow the link, add it to your shopping cart', 'http://www.manning.com/affiliate/idevaffiliate.php?id=1064_93' %> and use the promo code, osrf40, during checkout.</p>
</div>