html, body
{
	background-color:#fff;
	color:#333;
	font:0.85em/110% Verdana, Arial, sans-serif;
	letter-spacing:0;
}
a:link, a:visited
{
	color:#666;
	font-weight:bold;
	font-size:100%;
}
a:hover, a:focus
{
	text-decoration:none;
}
p
{
	margin:.8em 0 .9em 0;
	line-height:160%;
	letter-spacing:0;
	font-size:1.2em;
}
li
{
	margin-left:.9em;
	padding:.5em;
	list-style:none;
}
table.cms_table
{
	width:100%;
}
table.cms_table th
{
	background-color:#330;
	color:#fff;
	padding:.5em;
	font-weight:bold;
	font-size:120%;
}
table.cms_table td
{
	padding:.5em;
	font-size:100%;
}
table.cms_table tr.odd td
{
	background-color:#edecec;
}
#header_stroke
{
	background-color:#003;
	height:20px;
}
#logo
{
	position:absolute;
	top:20px;
	left:32px;
	margin:0;
	line-height:100%;
}
.pagination
{
	clear:both;
	padding:.9em 0 .9em 0;
}